.baseline(@param:'') {
	
	
	
	body {
		overflow: hidden;
		background: #000;
		font-family: @bodyfont;
		font-weight: 300;
		color: @color;
	}
	
	#app {
		background: #fff;
		width: 1920px;
		height: 1080px;
		overflow: hidden;
		
		img {
			display: block;
			vertical-align: top;
			margin: 0;
		}
	}
	
	/*
	 * Typography
	 */
	
	h1 {
		color: @red;
		text-transform: uppercase;
		font-family: @display;
		font-size: 36px;
		margin: 0;
		line-height: 1;
	}
	
	h2 {
		color: @black;
		font-size: 26px;
		font-family: @display;
		font-weight: bold;
	}
	
	h3, h4 {
		color: @grey;
		font-family: @displayalt;
		font-weight: 200;
		font-size: 24px;
		line-height: 1.4;
		margin: 0;
		font-variant: small-caps;
	}
	
	h4 {
		font-size: 18px;
	}
	
	p {
		font-size: 24px;
		line-height: 36px;
	}
	
	span.copyright {
		font-family: @displayalt;
		font-size: 13px;
		line-height: 1;
	}
	
	/*
	 * Langswitch component
	 */
	
	 nav.langswitch {
	 	
	 	position: absolute;
	 	
	 	
	 	&.inline {
		 	display: inline;
		 	position: relative;
	 	}
	 
	 	 a {
			 display: inline-block;
			 text-decoration: none;
			 color: @color;
			 font-family: @display;
			 font-weight: bold;
			 font-size: 24px;
			 border: 3px solid @color;
			 width: 55px;
			 line-height: 55px;
			 text-align: center;
			 border-radius: 50%;
		 }
	 }
	 
	 // show/hide lang
	 .lang-nl {
		 nav.langswitch {
			 a.lang-nl {
				 display: none;
			 }
		 }
	 }
	 
	 .lang-fr {
		 nav.langswitch {
			 a.lang-fr {
				 display: none;
			 }
		 }
	 }
	 
	 
	/*
	 * Brand
	 */
	
	div.brand {
		display: block;
		width: 215px;
		height: 80px;
		overflow: hidden;
		background: transparent url(../img/belfius-logo.png) no-repeat 0 0;
		text-indent: -5000em;
	}
	 
	/*
	 * Animation keyframes
	 */
	
	@-webkit-keyframes pageFadeIn {
		0% {
			opacity: 0;
			//transform: translateY(91px) translateZ(-91px);
		}
		
		100% {
			opacity: 1;
			//transform: translateZ(0);
		}
	}
	
	@-webkit-keyframes pageFadeOut {
		0% {
			opacity: 1;			
			//transform: translateZ(0);
		}
		
		100% {
			opacity: 0;
			//transform: translateY(91px) translateZ(-91px);
		}
	}
	
	/*
	 * Hide/showing pages
	 */
	
	#app {
		#topnav {
			ul.nav {
				display: none;
			}
		}
		
		#container {
			-webkit-perspective: 200;
			-webkit-perspective-origin: 50% 50%;
		
			section.page {
				position: absolute;
				top: 0;
				left: 0;
				width: 1920px;
				height: 1080px;
				
				background: #fff;
				
							
				animation-name: pageFadeOut;
				animation-timing-function: ease-in;
				animation-duration: .5s;
				animation-direction: normal;
				animation-fill-mode: forwards;
				animation-play-state: running;
			}
		}
	}
	
	#app.active-page-info {
		#topnav {
			ul.nav {
				&.nav-info {
					display: block;
				}
			}
		}
		
		#container {
			#info {		
				animation-name: pageFadeIn;		
				animation-timing-function: ease-out;
				animation-duration: .2s;
				z-index: 200;
			}
		}
	}
	
	#app.active-page-about {
		#topnav {
			ul.nav {
				&.nav-about {
					display: block;
				}
			}
		}
		
		#container {
			#about {
				animation-name: pageFadeIn;
				animation-timing-function: ease-out;
				animation-duration: .2s;
				z-index: 200;
			}
		}
	}
	
	#app.active-page-bio {
		#topnav {
			ul.nav {
				&.nav-bio {
					display: block;
				}
			}
		}
		
		#container {
			#bio {
				animation-name: pageFadeIn;
				animation-timing-function: ease-out;
				animation-duration: .2s;
				z-index: 200;
			}
		}
	}
		
	
	/*
	 * Utility classes
	 */
	 
	.hidden {
		display: none;
	}
	
	/*
	 * Topnav
	 */
	
	#topnav {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999;
		
		ul, li {
			margin: 0;
			padding: 0;
			list-style: none;
			display: block;
		}
		
		li {
			position: absolute;
			top: 0;
			
			&.prev {
				left: 0;
			}
			
			&.next {
				right: 0;
			}
		}
	}
	
	.nav {
		.prev, .next {
			a {
				text-decoration: none;
				color: @color;
				font-family: @display;
				font-size: 24px;
				display: table-cell;
				background: rgba(255, 255, 255, .5);
				height: 124px;
				min-width: 321px;
				vertical-align: middle;
				
			
				span.icon {
					display: inline-block;
					width: 54px;
					height: 54px;
					vertical-align: middle;
					margin: 0 17px;
				}
				
				span.label {
					display: inline-block;
					vertical-align: middle;
					line-height: 32px;
					margin: 0;
				}
			}
		}
		
		.prev {
			a {
				text-align: left;
				border-bottom-right-radius: 16px;
			}
		
			a span.icon {
				background: transparent url(../img/btn-icon-left.png) no-repeat 0 0;
			}
		}
		
		.next {
			a {
				text-align: right;
				border-bottom-left-radius: 16px;
			}
		
			a span.icon {
				background: transparent url(../img/btn-icon-right.png) no-repeat 0 0;
			}
		}
	}
	
	/*
	 * Pages
	 */
	
	section.page {
		
		img.template {
			position: absolute;
			top: 0;
			left: 0;
			opacity: .2;
			z-index: -1;
		}
		
	}
}