body {
  overflow: hidden;
  background: #000;
}
#app {
  background: #fff;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}
#app img {
  display: block;
  vertical-align: top;
  margin: 0;
}
/*
	 * Hide/showing pages
	 */
#app #topnav ul.nav {
  display: none;
}
#app #container section.page {
  display: none;
}
#app.active-page-info #topnav ul.nav.nav-info {
  display: block;
}
#app.active-page-info #container #info {
  display: block;
}
#app.active-page-about #topnav ul.nav.nav-about {
  display: block;
}
#app.active-page-about #container #about {
  display: block;
}
#app.active-page-bio #topnav ul.nav.nav-bio {
  display: block;
}
#app.active-page-bio #container #bio {
  display: block;
}
/*
	 * Utility classes
	 */
.hidden {
  display: none;
}
/*
	 * Topnav
	 */
#topnav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
#topnav ul,
#topnav li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
#topnav li {
  position: absolute;
  top: 0;
}
#topnav li.prev {
  left: 0;
}
#topnav li.next {
  right: 0;
}
