@font-face {
  font-family: "BelfiusAlternativeBold";
  src: url("../fonts/belfiusalternative_bold.eot");
  src: url("../fonts/belfiusalternative_bold.eot?#iefix") format('eot'), url("../fonts/belfiusalternative_bold.woff") format('woff'), url("../fonts/belfiusalternative_bold.ttf") format('truetype'), url("../fonts/belfiusalternative_bold.svg#BelfiusAlternativeBold") format('svg');
}
@font-face {
  font-family: "BelfiusAlternativeLight";
  src: url("../fonts/belfiusalternative_light.eot");
  src: url("../fonts/belfiusalternative_light.eot?#iefix") format('eot'), url("../fonts/belfiusalternative_light.woff") format('woff'), url("../fonts/belfiusalternative_light.ttf") format('truetype'), url("../fonts/belfiusalternative_light.svg#BelfiusAlternativeLight") format('svg');
}
@font-face {
  font-family: "BelfiusAlternative";
  src: url("../fonts/belfiusalternative_regular.eot");
  src: url("../fonts/belfiusalternative_regular.eot?#iefix") format('eot'), url("../fonts/belfiusalternative_regular.woff") format('woff'), url("../fonts/belfiusalternative_regular.ttf") format('truetype'), url("../fonts/belfiusalternative_regular.svg#BelfiusAlternative") format('svg');
}
@font-face {
  font-family: "BelfiusBlack";
  src: url("../fonts/belfiusalternative-black.eot");
  src: url("../fonts/belfiusalternative-black.eot?#iefix") format('eot'), url("../fonts/belfiusalternative-black.woff") format('woff'), url("../fonts/belfiusalternative-black.ttf") format('truetype'), url("../fonts/belfiusalternative-black.svg#BelfiusBlack") format('svg');
  font-weight: bold;
}
@font-face {
  font-family: "BelfiusNormalBold";
  src: url("../fonts/belfiusnormal_bold.eot");
  src: url("../fonts/belfiusnormal_bold.eot?#iefix") format('eot'), url("../fonts/belfiusnormal_bold.woff") format('woff'), url("../fonts/belfiusnormal_bold.ttf") format('truetype'), url("../fonts/belfiusnormal_bold.svg#BelfiusNormalBold") format('svg');
}
@font-face {
  font-family: "BelfiusNormalLight";
  src: url("../fonts/belfiusnormal_light.eot");
  src: url("../fonts/belfiusnormal_light.eot?#iefix") format('eot'), url("../fonts/belfiusnormal_light.woff") format('woff'), url("../fonts/belfiusnormal_light.ttf") format('truetype'), url("../fonts/belfiusnormal_light.svg#BelfiusNormalLight") format('svg');
}
@font-face {
  font-family: "BelfiusNormal";
  src: url("../fonts/belfiusnormal_regular.eot");
  src: url("../fonts/belfiusnormal_regular.eot?#iefix") format('eot'), url("../fonts/belfiusnormal_regular.woff") format('woff'), url("../fonts/belfiusnormal_regular.ttf") format('truetype'), url("../fonts/belfiusnormal_regular.svg#BelfiusNormal") format('svg');
}
body {
  overflow: hidden;
  background: #000;
  font-family: "BelfiusAlternativeBold";
}
#app {
  background: #fff;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}
#app img {
  display: block;
  vertical-align: top;
  margin: 0;
}
/*
	 * Animation keyframes
	 */
@-webkit-keyframes pageFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes pageFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
	 * Hide/showing pages
	 */
#app #topnav ul.nav {
  display: none;
}
#app #container {
  -webkit-perspective: 200;
  -webkit-perspective-origin: 50% 50%;
}
#app #container section.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  background: #fff;
  animation-name: pageFadeOut;
  animation-timing-function: ease-in;
  animation-duration: .5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
#app.active-page-info #topnav ul.nav.nav-info {
  display: block;
}
#app.active-page-info #container #info {
  animation-name: pageFadeIn;
  animation-timing-function: ease-out;
  animation-duration: .2s;
  z-index: 200;
}
#app.active-page-about #topnav ul.nav.nav-about {
  display: block;
}
#app.active-page-about #container #about {
  animation-name: pageFadeIn;
  animation-timing-function: ease-out;
  animation-duration: .2s;
  z-index: 200;
}
#app.active-page-bio #topnav ul.nav.nav-bio {
  display: block;
}
#app.active-page-bio #container #bio {
  animation-name: pageFadeIn;
  animation-timing-function: ease-out;
  animation-duration: .2s;
  z-index: 200;
}
/*
	 * Utility classes
	 */
.hidden {
  display: none;
}
/*
	 * Topnav
	 */
#topnav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
#topnav ul,
#topnav li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
#topnav li {
  position: absolute;
  top: 0;
}
#topnav li.prev {
  left: 0;
}
#topnav li.next {
  right: 0;
}
/*
	 * Pages
	 */
section.page img.template {
  position: absolute;
  top: 0;
  left: 0;
  opacity: .2;
  z-index: -10;
}
