.infoView(@param:'') {
	
	#info {
		
		.col.left {
			position: absolute;
			top: 0;
			left: 0;
			width: 50%;
			height: 1080px;
		}
		
		.col.right {
			position: absolute;
			top: 0;
			left: 50%;
			width: 50%;
			height: 1080px;
		}
		
		.brand {
			position: absolute;
			bottom: 0;
			left: 0;
		}
		
	}
	
	
}