.screensaverView(@param:'') {
	
	body.screensaver {
		background: #fff;
	}
	
	#screensaver {
		position: absolute;
		top: 0;
		left: 0;
		
		width: 1920px;
		height: 1080px;
		
		opacity: 0;
		transition: all .5s ease-in-out;
		
		&.fade {
			opacity: 1;
		}
		
		
		background: #fff url(../img/screensaver.jpg) no-repeat 0 0;
		
		.brand {
			position: absolute;
			bottom: 0;
			right: 0;
		}
		
		ul, li {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		
		ul {
			width: 100%;
			height: 100%;
			display: table;
		}
		
		li {
			display: table-cell;
			text-align: left;
			width: 45%;
			vertical-align: middle;
			padding: 0 1.5%;
		}
		
		li:first-child {
			text-align: right;
		}
		
		li a {
			color: @color;
			text-decoration: none;
			font-family: "BelfiusAlternative";
			
			span, strong {
				display: block;
				margin: 24px 0;
			}
			
			span {
				font-size: 36px;
			}
			
			strong {
				color: @red;
				font-size: 46px;
			}
			
		}
		
	}
	
}